*{
    margin: 0px;
    padding: 0px;
    background-color: palevioletred;
    /* color:black; */
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 50px;
}
#foods{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20%;
 }
 